<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>collectable_ammo</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,137}</string>
                <key>spriteSourceSize</key>
                <string>{153,137}</string>
                <key>textureRect</key>
                <string>{{0,0},{153,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collectable_sipOfHealth</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{68,80}</string>
                <key>textureRect</key>
                <string>{{153,0},{68,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>collectable.png</string>
            <key>size</key>
            <string>{221,137}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ad3acbdadfb892c51e6f51015bdafd:f81951e46c80a5c6dca8abb8c5362d39:5500ae40e1873b2b4bdfdf5ef90eed4a$</string>
            <key>textureFileName</key>
            <string>collectable.png</string>
        </dict>
    </dict>
</plist>
