<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character_maleAdventurer_backwalk0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{0,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_backwalk1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{192,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_backwalk2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{384,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_forwardwalk0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{576,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_forwardwalk1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{768,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_forwardwalk2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{960,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_forwardwalk3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1152,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_leftslide</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1344,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_leftwalk0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1536,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_leftwalk1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{0,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_leftwalk2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{192,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_leftwalk3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{384,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_leftwalk4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{576,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_leftwalk5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{768,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_leftwalk6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{960,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_leftwalk7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1152,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_rightslide</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1344,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_rightwalk0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1536,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_rightwalk1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{0,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_rightwalk2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{192,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_rightwalk3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{384,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_rightwalk4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{576,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_rightwalk5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{768,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_rightwalk6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{960,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_rightwalk7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1152,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_standforward0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1344,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_standforward1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1536,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainCharacter.png</string>
            <key>size</key>
            <string>{1728,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ff6c41bfb1cafe3ec6652b16fa6a71f:87ddee3c6ba877750da79bb31f111b0f:ebee65fd4a465b155e7b4b310ae6b918$</string>
            <key>textureFileName</key>
            <string>mainCharacter.png</string>
        </dict>
    </dict>
</plist>
