<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character_maleAdventurer_attack0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{0,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_attack1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{192,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_attack2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{384,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_attackKick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{576,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{768,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_behindBack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{960,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_cheer0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1152,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_cheer1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1344,0},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_climb0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{0,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_climb1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{192,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_down</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{384,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_drag</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{576,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_duck</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{768,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_fall</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{960,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_fallDown</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1152,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_hang</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1344,256},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_hit</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{0,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_hold</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{192,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_hurt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{384,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_idle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{576,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_interact</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{768,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_jump</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{960,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_kick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1152,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_rope</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1344,512},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_run0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{0,768},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_run1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{192,768},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_run2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{384,768},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_shove</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{576,768},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_shoveBack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{768,768},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_show</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{960,768},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_side</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1152,768},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_slide</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1344,768},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_switch0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{0,1024},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_switch1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{192,1024},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_talk</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{384,1024},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_think</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{576,1024},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_walk0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{768,1024},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_walk1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{960,1024},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_walk2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1152,1024},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_walk3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{1344,1024},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_walk4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{0,1280},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_walk5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{192,1280},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_walk6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{384,1280},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_walk7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{576,1280},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_maleAdventurer_wide</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{192,256}</string>
                <key>textureRect</key>
                <string>{{768,1280},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainCharacter.png</string>
            <key>size</key>
            <string>{1536,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b05df56fc753014901e91837743ace70:e4f1a5c1a760b3143167fb6aafbb8c9a:ebee65fd4a465b155e7b4b310ae6b918$</string>
            <key>textureFileName</key>
            <string>mainCharacter.png</string>
        </dict>
    </dict>
</plist>
