<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_flameCircle_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,210}</string>
                <key>spriteSourceSize</key>
                <string>{243,210}</string>
                <key>textureRect</key>
                <string>{{0,0},{243,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_flameCircle_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,210}</string>
                <key>spriteSourceSize</key>
                <string>{243,210}</string>
                <key>textureRect</key>
                <string>{{243,0},{243,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_flameCircle_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,210}</string>
                <key>spriteSourceSize</key>
                <string>{243,210}</string>
                <key>textureRect</key>
                <string>{{486,0},{243,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_flameCircle_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,210}</string>
                <key>spriteSourceSize</key>
                <string>{243,210}</string>
                <key>textureRect</key>
                <string>{{729,0},{243,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_flameCircle_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,210}</string>
                <key>spriteSourceSize</key>
                <string>{243,210}</string>
                <key>textureRect</key>
                <string>{{972,0},{243,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_flameCircle_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,210}</string>
                <key>spriteSourceSize</key>
                <string>{243,210}</string>
                <key>textureRect</key>
                <string>{{1215,0},{243,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_flameCircle.png</string>
            <key>size</key>
            <string>{1458,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49a3389a9202947af8fdb66ca6bbe77d:a99458dcddaac2431185acf7a698a922:e44697497e15c6dcd323e4cb5c75e185$</string>
            <key>textureFileName</key>
            <string>effect_flameCircle.png</string>
        </dict>
    </dict>
</plist>
