<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bomb_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,301}</string>
                <key>spriteSourceSize</key>
                <string>{375,301}</string>
                <key>textureRect</key>
                <string>{{0,0},{375,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bomb_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,301}</string>
                <key>spriteSourceSize</key>
                <string>{375,301}</string>
                <key>textureRect</key>
                <string>{{375,0},{375,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bomb_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,301}</string>
                <key>spriteSourceSize</key>
                <string>{375,301}</string>
                <key>textureRect</key>
                <string>{{0,1505},{375,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bomb_11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,301}</string>
                <key>spriteSourceSize</key>
                <string>{375,301}</string>
                <key>textureRect</key>
                <string>{{375,1505},{375,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bomb_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,301}</string>
                <key>spriteSourceSize</key>
                <string>{375,301}</string>
                <key>textureRect</key>
                <string>{{0,301},{375,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bomb_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,301}</string>
                <key>spriteSourceSize</key>
                <string>{375,301}</string>
                <key>textureRect</key>
                <string>{{375,301},{375,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bomb_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,301}</string>
                <key>spriteSourceSize</key>
                <string>{375,301}</string>
                <key>textureRect</key>
                <string>{{0,602},{375,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bomb_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,301}</string>
                <key>spriteSourceSize</key>
                <string>{375,301}</string>
                <key>textureRect</key>
                <string>{{375,602},{375,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bomb_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,301}</string>
                <key>spriteSourceSize</key>
                <string>{375,301}</string>
                <key>textureRect</key>
                <string>{{0,903},{375,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bomb_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,301}</string>
                <key>spriteSourceSize</key>
                <string>{375,301}</string>
                <key>textureRect</key>
                <string>{{375,903},{375,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bomb_8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,301}</string>
                <key>spriteSourceSize</key>
                <string>{375,301}</string>
                <key>textureRect</key>
                <string>{{0,1204},{375,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bomb_9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,301}</string>
                <key>spriteSourceSize</key>
                <string>{375,301}</string>
                <key>textureRect</key>
                <string>{{375,1204},{375,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_bomb.png</string>
            <key>size</key>
            <string>{750,1806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7be45cf177bb558a42b88cacc4c73e97:172e9acfe5f9a1f492d8e56a3f68efed:fc7ed877e33377c6af4420f3ec1b7b94$</string>
            <key>textureFileName</key>
            <string>effect_bomb.png</string>
        </dict>
    </dict>
</plist>
