<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_subterrainAssual_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,282}</string>
                <key>spriteSourceSize</key>
                <string>{250,282}</string>
                <key>textureRect</key>
                <string>{{0,0},{250,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_subterrainAssual_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,282}</string>
                <key>spriteSourceSize</key>
                <string>{250,282}</string>
                <key>textureRect</key>
                <string>{{0,282},{250,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_subterrainAssual_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,282}</string>
                <key>spriteSourceSize</key>
                <string>{250,282}</string>
                <key>textureRect</key>
                <string>{{0,564},{250,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_subterrainAssual_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,282}</string>
                <key>spriteSourceSize</key>
                <string>{250,282}</string>
                <key>textureRect</key>
                <string>{{0,846},{250,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_subterrainAssual_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,282}</string>
                <key>spriteSourceSize</key>
                <string>{250,282}</string>
                <key>textureRect</key>
                <string>{{0,1128},{250,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_subterrainAssual_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,282}</string>
                <key>spriteSourceSize</key>
                <string>{250,282}</string>
                <key>textureRect</key>
                <string>{{0,1410},{250,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_subterrainAssuat.png</string>
            <key>size</key>
            <string>{250,1692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9420e2390dc2028053678510ebc2645d:9817aeeef9124b7d313351294fa13e66:73b5bf07cc84830615a51a027bc941b7$</string>
            <key>textureFileName</key>
            <string>effect_subterrainAssuat.png</string>
        </dict>
    </dict>
</plist>
