<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_flame_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,134}</string>
                <key>spriteSourceSize</key>
                <string>{211,134}</string>
                <key>textureRect</key>
                <string>{{0,0},{211,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_flame_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,140}</string>
                <key>spriteSourceSize</key>
                <string>{216,140}</string>
                <key>textureRect</key>
                <string>{{211,0},{216,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_flame_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,136}</string>
                <key>spriteSourceSize</key>
                <string>{206,136}</string>
                <key>textureRect</key>
                <string>{{427,0},{206,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_flame_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,133}</string>
                <key>spriteSourceSize</key>
                <string>{145,133}</string>
                <key>textureRect</key>
                <string>{{633,0},{145,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_flame_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,123}</string>
                <key>spriteSourceSize</key>
                <string>{132,123}</string>
                <key>textureRect</key>
                <string>{{778,0},{132,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_flame_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,110}</string>
                <key>spriteSourceSize</key>
                <string>{103,110}</string>
                <key>textureRect</key>
                <string>{{910,0},{103,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_flame.png</string>
            <key>size</key>
            <string>{1013,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c7e2bee0fc35728a797c44c491cb3b6:3b200d35ee38923abf24fd65de3d47ba:3615a890b7997cb479b7d03bf44dcfcf$</string>
            <key>textureFileName</key>
            <string>effect_flame.png</string>
        </dict>
    </dict>
</plist>
